<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{ 'Nilai a = ' + temp }}</h1>
      <h1>{{ 'Nilai rata-rata = ' + ratarata }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          temp: 0,
          iterasiPrompt: 0,
          ratarata: 0,
          kondisi: true,
        },
        methods: {
          openForm: function () {
            while (this.kondisi) {
              this.a = prompt("masukkan nilai a");
              this.temp = Number(this.temp) + Number(this.a);
              this.iterasiPrompt = this.iterasiPrompt + 1;
              if (this.temp >= 10) {
                this.ratarata = Number(this.temp) / Number(this.iterasiPrompt);
                this.kondisi = false;
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
