@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: rgb(58, 210, 227);
  background: linear-gradient(
    0deg,
    rgba(58, 210, 227, 1) 0%,
    rgba(147, 203, 149, 1) 100%
  );
}
main {
  margin-top: 8px;
}
.card,
.card-profil {
  box-shadow: 3px 5px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 8px;
}
.card {
  margin: 8px;
}
.card-profil {
  margin: 0 8px 8px 8px;
}
.photo {
  max-height: 25vh;
  max-width: 100%;
  border-radius: 10px;
}
.logo-flutter,
.logo-vuejs,
.logo-ci,
.logo-swift,
.logo-linkedin,
.logo-telegram,
.logo-gitlab,
.logo-github,
.logo-behance,
.logo-email {
  max-height: 15vh;
  max-width: 30%;
  margin-right: auto;
}
.logo-kampus {
  max-height: 20vh;
  max-width: 30%;
  margin-right: auto;
}
.photo,
.logo-flutter,
.logo-vuejs,
.logo-ci,
.logo-swift,
.logo-linkedin,
.logo-telegram,
.logo-gitlab,
.logo-github,
.logo-behance,
.logo-email,
.logo-kampus {
  display: block;
  margin-left: auto;
}
a:link,
a:visited,
a:hover,
a:active {
  color: black;
}

@media screen and (max-width: 767px) {
  .photo {
    max-height: 100%;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}
