<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div
        class="card col-sm-5"
        style="
          padding: 10px;
          margin: 10px;
          margin-left: auto;
          margin-right: auto;
        "
      >
        <form @submit.prevent="submitForm()">
          <div class="alert alert-danger" role="alert" v-if="errors.length">
            Tolong perbaiki kesalahan berikut:
            <ul>
              <li v-for="error in errors">{{error}}</li>
            </ul>
          </div>
          <div class="form-group">
            <label for="inputNamaLengkap">Nama Lengkap</label>
            <input
              type="text"
              class="form-control"
              id="inputNamaLengkap"
              v-model="nama"
              :disabled="buttonStatus == 'upload'"
              placeholder="Masukkan nama"
            />
          </div>
          <div class="form-group">
            <label for="inputAlamat">Alamat</label>
            <textarea
              class="form-control"
              id="inputAlamat"
              v-model="alamat"
              :disabled="buttonStatus == 'upload'"
              rows="2"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="inputNoHp">No. HP</label>
            <input
              type="text"
              class="form-control"
              id="inputNoHp"
              v-model="nohp"
              :disabled="buttonStatus == 'upload'"
              placeholder="08xxxxxxxxxx"
            />
          </div>

          <div v-if="buttonStatus == 'submit'">
            <input type="submit" class="btn btn-primary" value="Submit" />
          </div>
          <div v-else-if="buttonStatus == 'update'">
            <input
              type="button"
              class="btn btn-primary"
              value="Update"
              @click="updateMemberData(idEditMember)"
            />
            <input
              type="button"
              class="btn btn-outline-danger"
              value="Cancel"
              @click="clearForm"
            />
          </div>
          <div v-else-if="buttonStatus == 'upload'">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" id="foto" ref="foto" />
              </div>
            </div>
            <input
              type="button"
              class="btn btn-primary"
              value="Upload"
              @click="submitFotoMember(idUploadMember)"
            />
            <input
              type="button"
              class="btn btn-outline-danger"
              value="Cancel"
              @click="clearForm"
            />
          </div>
        </form>
      </div>
      <div class="row">
        <div
          class="col-md-3"
          v-for="member in members"
          style="
            padding: 10px;
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
          "
        >
          <div class="card">
            <img
              :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/600x400/000/fff&text=image'"
              class="card-img-top"
              alt="image"
            />
            <div class="card-body">
              <h5 class="card-title">{{member.name}}</h5>
              <p class="card-text">{{member.address}}</p>
              <p class="card-text">{{member.no_hp}}</p>
            </div>
            <div class="card-footer">
              <button @click="editMemberData(member)" class="btn btn-info">
                Edit
              </button>
              <button
                @click="removeMemberData(member.id)"
                class="btn btn-danger"
              >
                Hapus
              </button>
              <button
                @click="uploadFotoMember(member)"
                class="btn btn-secondary"
              >
                Upload Foto
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- VueJS - Axios -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          nama: "",
          alamat: "",
          nohp: "",
          errors: [],
          members: [],
          photoDomain: "http://demo-api-vue.sanbercloud.com",
          buttonStatus: "submit",
          idEditMember: null,
          idUploadMember: null,
        },
        methods: {
          validationForm: function () {
            this.errors = [];
            if (this.nama.length < 5) {
              this.errors.push("Nama diisi minimal 5 huruf");
              this.$refs.nama.focus();
            }
            if (this.alamat.length > 200) {
              this.errors.push("Alamat diisi maksimal 200 huruf");
              this.$refs.alamat.focus();
            }
            if (this.nohp.length > 15) {
              this.errors.push("Nomor HP diisi maksimal 15");
              this.$refs.nohp.focus();
            }
          },
          clearForm: function () {
            this.nama = "";
            this.alamat = "";
            this.nohp = "";
            this.buttonStatus = "submit";
            this.idEditMember = null;
            this.idUploadMember = null;
          },
          getMembersData: function () {
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            };

            axios(config)
              .then((response) => {
                this.members = response.data.members;
                console.log(this.members);
              })
              .catch((error) => {
                console.log(error);
              });
          },
          submitForm: function () {
            this.validationForm();
            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("name", this.nama);
              formData.append("address", this.alamat);
              formData.append("no_hp", this.nohp);
              const config = {
                method: "post",
                url: "http://demo-api-vue.sanbercloud.com/api/member",
                data: formData,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembersData();
                  alert(response.data.message);
                  // console.log(response.data);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          removeMemberData: function (id) {
            const config = {
              method: "post",
              params: { _method: "DELETE" },
              // method: "delete",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            };

            axios(config)
              .then((response) => {
                this.getMembersData();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },
          editMemberData: function (member) {
            this.nama = member.name;
            this.alamat = member.address;
            this.nohp = member.no_hp;
            this.buttonStatus = "update";
            this.idEditMember = member.id;
          },
          updateMemberData: function (id) {
            this.validationForm();
            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("name", this.nama);
              formData.append("address", this.alamat);
              formData.append("no_hp", this.nohp);
              const config = {
                method: "post",
                params: { _method: "PUT" },
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                data: formData,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembersData();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          uploadFotoMember: function (member) {
            this.nama = member.name;
            this.alamat = member.address;
            this.nohp = member.no_hp;
            this.buttonStatus = "upload";
            this.idUploadMember = member.id;
          },
          submitFotoMember: function (id) {
            let file = this.$refs.foto.files[0];
            let formData = new FormData();
            formData.append("photo_profile", file);
            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
              data: formData,
            };

            axios(config)
              .then((response) => {
                this.clearForm();
                this.getMembersData();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
        created() {
          this.getMembersData();
        },
      });
    </script>
  </body>
</html>
