<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="app" class="container-fluid">
      <div class="row">
        <form
          @submit.prevent="submitForm()"
          class="form-input col-sm-2"
          style="
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
            margin: 10px;
          "
        >
          <p v-if="errors.length">
            <b>Please correct the following errors:</b>
          </p>
          <ul>
            <li v-for="error in errors">{{error}}</li>
          </ul>
          <label>Title:</label><br />
          <input
            type="text"
            v-model="title"
            :disabled="buttonStatus == 'upload'"
            id="title-input"
            style="width: 100%"
          />
          <br />
          <label>Description:</label><br />
          <textarea
            v-model="description"
            :disabled="buttonStatus == 'upload'"
            id="description-input"
            cols="30"
            rows="3"
            style="width: 100%"
          ></textarea>
          <br />
          <div v-if="buttonStatus == 'submit'">
            <input type="submit" value="SUBMIT" />
          </div>
          <div v-else-if="buttonStatus == 'update'">
            <input
              type="button"
              value="UPDATE"
              @click="updateBlog(idEditBlog)"
            />
            <input
              type="button"
              value="CANCEL"
              @click="clearForm"
              style="margin-top: 5px"
            />
          </div>
          <div v-else-if="buttonStatus == 'upload'">
            <input type="file" name="photo" ref="photo" />
            <input
              type="button"
              value="UPLOAD"
              @click="submitPhoto(idUploadBlog)"
              style="margin-top: 5px"
            />
            <input
              type="button"
              value="CANCEL"
              @click="clearForm"
              style="margin-top: 5px"
            />
          </div>
        </form>
        <br />
        <table style="border: 1px">
          <tr v-for="blog in blogs">
            <td>
              <img
                :src="blog.photo ? photoDomain + blog.photo : 'https://dummyimage.com/600x400/000/fff'"
                alt="image"
                width="100"
              />
            </td>
            <td>
              <b>Title: </b> {{blog.title}}<br />
              <b>Deskripsi: </b> {{blog.description}}<br />
            </td>
            <td>
              <button @click="editBlog(blog)">Edit</button>
              <button @click="removeBlog(blog.id)">Hapus</button>
              <button @click="uploadBlog(blog)">Upload Foto</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          title: "",
          description: "",
          errors: [],
          blogs: [],
          photoDomain: "http://demo-api-vue.sanbercloud.com",
          buttonStatus: "submit",
          idEditBlog: null,
          idUploadBlog: null,
        },
        methods: {
          validationForm: function () {
            this.errors = [];
            if (this.title.length < 5) {
              this.errors.push("Title minimal 10 karakter");
              this.$refs.title.focus();
            }
            if (this.description.length > 50) {
              this.errors.push("Deskripsi tidak boleh lebih dari 50 karakter");
              this.$refs.description.focus();
            }
          },
          clearForm: function () {
            this.title = "";
            this.description = "";
            this.buttonStatus = "submit";
            this.idEditBlog = null;
            this.idUploadBlog = null;
          },
          submitForm: function () {
            this.validationForm();
            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("title", this.title);
              formData.append("description", this.description);
              const config = {
                method: "post",
                url: "http://demo-api-vue.sanbercloud.com/api/blog",
                data: formData,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getBlogs();
                  alert(response.data.message);
                  // console.log(response.data);
                })
                .catch((error) => {
                  // console.log(error);
                });
            }
          },
          getBlogs: function () {
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/blog",
            };

            axios(config)
              .then((response) => {
                this.blogs = response.data.blogs;
                // console.log(this.blogs);
              })
              .catch((error) => {
                console.log(error);
              });
          },
          removeBlog: function (id) {
            const config = {
              // method: "post",
              // params: { _method: "DELETE" },
              method: "delete",
              url: `http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
            };

            axios(config)
              .then((response) => {
                this.getBlogs();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
            // console.log(id);
          },
          editBlog: function (blog) {
            this.title = blog.title;
            this.description = blog.description;
            this.buttonStatus = "update";
            this.idEditBlog = blog.id;
          },
          updateBlog: function (id) {
            this.validationForm();
            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("title", this.title);
              formData.append("description", this.description);
              const config = {
                method: "post",
                params: { _method: "PUT" },
                // method: "put",
                url: `http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
                data: formData,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getBlogs();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
              // console.log(id);
            }
          },
          uploadBlog: function (blog) {
            this.title = blog.title;
            this.description = blog.description;
            this.buttonStatus = "upload";
            this.idUploadBlog = blog.id;
          },
          submitPhoto: function (id) {
            let file = this.$refs.photo.files[0];
            let formData = new FormData();
            formData.append("photo", file);
            const config = {
              method: "post",
              // method: "put",
              url: `http://demo-api-vue.sanbercloud.com/api/blog/${id}/upload-photo`,
              data: formData,
            };

            axios(config)
              .then((response) => {
                this.clearForm();
                this.getBlogs();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
        created() {
          this.getBlogs();
        },
      });
    </script>
  </body>
</html>
