<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app1">
      <h1>1</h1>
      {{message}}
      <component-a></component-a>
    </div>

    <div id="app2">
      <h1>2</h1>
      <komponen-satu></komponen-satu>
      <komponen-dua></komponen-dua>
    </div>

    <template id="component-one">
      <h2>Komponen Satu</h2>
    </template>

    <template id="component-two">
      <h2>{{pesan}}</h2>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      Vue.component("komponen-satu", {
        template: "#component-one",
      });

      Vue.component("komponen-dua", {
        template: "#component-two",
        data() {
          return {
            pesan: "Ini dari komponen Kedua",
          };
        },
      });

      var ComponentA = {
        template: "<p>{{pesan}}</p>",
        data() {
          return {
            pesan: "Ini dari komponen A",
          };
        },
      };

      var vm = new Vue({
        el: "#app1",
        data: {
          message: "Halo Ajis",
        },
        methods: {},
        components: {
          "component-a": ComponentA,
        },
      });

      var vm = new Vue({
        el: "#app2",
        data: {},
        methods: {},
      });
    </script>
  </body>
</html>
