<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form>
        <input type="text" v-model="form.name" />
        <button @click.prevent="addNewPersonName" v-show="!kondisiEdit">
          Add
        </button>
        <button @click.prevent="updatePersonName" v-show="kondisiEdit">
          Update
        </button>
      </form>

      <ul>
        <li v-for="(user, index) in users">
          {{user.name}}
          <button @click="editPersonName(index, user)">Edit</button>
          <span>||</span>
          <button v-on:click="deletePersonName(index)">Delete</button>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          kondisiEdit: false,
          users: [
            { name: "Muhammad Iqbal Mubarok" },
            { name: "Alifudin Aziz" },
            { name: "Tiara Dewi Prabawati" },
          ],
          form: {
            name: "",
          },
          selectedUserId: null,
        },
        methods: {
          addNewPersonName: function () {
            this.users.push(this.form);
            this.form = {};
          },
          deletePersonName: function (index) {
            let deleteName = confirm("Anda yakin?");
            if (deleteName) {
              this.users.splice(index, 1);
            }
          },
          editPersonName: function (index, user) {
            this.kondisiEdit = true;
            this.selectedUserId = index;
            this.form.name = user.name;
          },
          updatePersonName: function () {
            this.users[this.selectedUserId].name = this.form.name;
            this.form = {};
            this.kondisiEdit = false;
            this.selectedUserId = null;
          },
        },
      });
    </script>
  </body>
</html>
