<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="name" />
      <ul>
        <li v-for="book in filterBooksByName">{{book.name}}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          name: "",
          books: [
            { name: "Kalkulus Dasar" },
            { name: "Fisika Dasar" },
            { name: "Aljabar Linier Elementer" },
            { name: "Aljabar Abstrak" },
            { name: "Algoritma Pemrograman" },
          ],
        },
        computed: {
          filterBooksByName: function () {
            return this.books.filter((book) => {
              return book.name.toLowerCase().includes(this.name);
            });
          },
        },
      });
    </script>
  </body>
</html>
